@import "tailwindcss";

@theme {
  --color-navy: #0d1b2a;
  --color-sand: #e8dcc9;
  --color-gold: #c3a56e;
}

@theme inline {
  --font-display: var(--font-playfair);
  --font-sans: var(--font-inter);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
}
